#form-step-1
	%label Callsign
	%input{:type=>"text",:value=>@alldata["call"]}
	%br/
	%label First Name
	%input{:type=>"text",:value=>@alldata["fname"]}
	%br/
	%label Last Name
	%input{:type=>"text",:value=>@alldata["name"]}
	%br/
	%label Address 1
	%input{:type=>"text",:value=>@alldata["addr1"]}
	%br/
	%label Address 2
	%input{:type=>"text",:value=>@alldata["addr2"]}
	%br/
	%label State
	%input{:type=>"text",:value=>@alldata["state"]}
	%br/
	%label Zip
	%input{:type=>"text",:value=>@alldata["zip"]}
	%br/
	%label Country
	%input{:type=>"text",:value=>@alldata["country"]}
	%br/
	%label Efdate
	%input{:type=>"text",:value=>@alldata["efdate"]}
	%br/
	%label expdate
	%input{:type=>"text",:value=>@alldata["expdate"]}