


/ <%= render "devise/shared/links" %>
#form-step-1
	.row
		.col-lg-6
			.well
				.bs-example.form-horizontal
					=form_for :userprofile,:url=>new_user_registration_path,:html=>{:validate=>true,:method=>"GET",:multipart => true} do |profile|
						%legend Sign up
						.form-group
							.col-lg-2.control-label="Image or Image URL*"
							.col-lg-10
								= profile.file_field :avatar
								= profile.text_field :remote_avatar_url,:value=>@alldata["image"],:class=>"form-control"
								= profile.hidden_field :avatar_cache
						.form-group
							.col-lg-2.control-label="Callsign*"
							.col-lg-10
								=profile.text_field :callsign,:value=>@alldata["call"],:required=>true,:class=>"form-control"
						.form-group
							.col-lg-2.control-label="First name*"
							.col-lg-10
								=profile.text_field :fname,:value=>@alldata["fname"],:required=>true,:class=>"form-control"
						.form-group
							.col-lg-2.control-label="Last name*"
							.col-lg-10
								=profile.text_field :lname,:value=>@alldata["name"],:required=>true,:class=>"form-control"
						.form-group
							.col-lg-2.control-label="addr1*"
							.col-lg-10
								=profile.text_field :add1,:value=>@alldata["addr1"],:required=>true,:class=>"form-control"
						/ .form-group
						/ 	.col-lg-2.control-label=profile.label :addr2
						/ 	.col-lg-10
						/ 		=profile.text_field :addr2,:value=>@alldata["addr2"],:required=>true,:class=>"form-control"
						.form-group
							.col-lg-2.control-label="state*"
							.col-lg-10
								=profile.text_field :state,:value=>@alldata["state"],:required=>true,:class=>"form-control"
						/ .form-group
						/ 	.col-lg-2.control-label=profile.label :city
						/ 	.col-lg-10
						/ 		=profile.text_field :city,:value=>@alldata["city"],:required=>true,:class=>"form-control"
						.form-group
							.col-lg-2.control-label="zip*"
							.col-lg-10
								=profile.text_field :zip,:value=>@alldata["zip"],:required=>true,:class=>"form-control"
						.form-group
							.col-lg-2.control-label="Class*"
							.col-lg-10
								=profile.text_field :class_user,:value=>class_name_translate(@alldata["class_user"]),:required=>true,:class=>"form-control"
						.form-group
							.col-lg-2.control-label="Efdate*"
							.col-lg-10
								=profile.text_field :efdate,:value=>@alldata["efdate"],:required=>true,:class=>"form-control",:readonly=>true
						.form-group
							.col-lg-2.control-label="Expdate*"
							.col-lg-10
								=profile.text_field :expdate,:value=>@alldata["expdate"],:required=>true,:class=>"form-control",:readonly=>true
						.form-group
							.col-lg-10.col-lg-offset-2
								=link_to "Cancel" ,"/",:class=>"btn btn-default"
								%button.btn.btn-primary{type: "submit"} Next
	