!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to HCARE, #{@user.userprofile.fullname}
    %p
      ="You have successfully signed up to #{request.host},"
     	%br/
     	="your can login after admin verfication".
      %br/
    %p Thanks for joining us!