.bs-docs-section
  .row
    .col-lg-12
      .bs-example
        .jumbotron
          %h1 HCARC - Membership
          %p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
          %p
            %a.btn.btn-primary.btn-lg Learn more